:root{
  --main-text-color- : #c7c5c4;
  --main-second-text-color- : #24282a;
  --box-shadow-: 0px 5px 50px 10px rgba(0, 0, 0, 0.2);
  --main-divider-color-:#929EA1;;
}
/* FONTS */
@font-face {
  font-family: 'Gorgone';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../webFonts/Gorgone-Regular.woff2') format('woff2'),
       url('../webFonts/Gorgone-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Aeonik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../webFonts/Aeonik-Regular.woff2') format('woff2'),
       url('../webFonts/Aeonik-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../webfonts/lato-v17-latin-regular.woff2') format('woff2'),
       url('../webfonts/lato-v17-latin-regular.woff') format('woff')
}
/* GENERAL STYLES */
html{
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}
*,
*::before,
*::after{
  box-sizing: border-box; 
}
body{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color:  #24282A;
}
.title,
.text{
  color: var(--main-text-color-);
}
.title{
  font-family: 'Gorgone';
  font-size: 48px;
  line-height: 70px;
  font-weight: 400;
}
.text{
  font-family: 'Aeonik';
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}
.img{
  box-shadow: var(--box-shadow-);
}
*:focus{
  outline: 0;
  box-shadow: 0 0 0 4px rgba(41, 80, 147, 0.4);
}
img{
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* CONTAINER */
.container{
  max-width: 1110px;
  padding: 0 15px;
  margin: 0 auto;
}
/* HEADER */
.site-header{
  padding-top: 40px;
  padding-bottom: 100px;
}
/* HEADER-TOP */
.header-top{
  width: 100%;
  margin-bottom: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo__link{
  text-decoration: none;
}
.navbar__list{
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.navbar__item{
  font-size: 18px;
  line-height: 22px;
  border-bottom: 1px solid #24282a;
  transition: border-bottom 1s ease;
}
.navbar__item:hover{
  border-bottom: 1px solid var(--main-text-color-);
}
.navbar__item:not(:last-child){
  margin-right: 100px;
} 
.navbar__link{
  text-decoration: none;
}
/* HEADER-BLOG */
.header-blog{
  display: flex;
  position: relative;
}
.header-blog__inner{
  position: absolute;
  top: 216px;
  left: 0;
  z-index: 1;
}
.header-blog__title{
  font-size: 96px;
  line-height: 108px;
}
.header-blog__text{
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 50px;
}
.header-blog__button{
  cursor: pointer;
  width: 161px;
  height: 51px;
  border: 2px solid var(--main-text-color-);
  background-color: inherit;
  color: var(--main-text-color-);
  font-family: 'Aeonik';
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  outline: none;
  transition: color 0.3s ease,
              background-color 0.3s ease;
}

.header-blog__button:hover,
.header-blog__button:active{
  color: #24282A;
  background-color: var(--main-text-color-);
}
.header-blog__link{
  text-decoration: none;
}
.header-blog__img{
  margin-left: 24%;
  width: 77%;

}
/* Menu-Toggler */
.menu-toggler{
  display: none;
  position: fixed;
  top: 30px;
  right: 20px;
  z-index: 16;
  background-color: #24282A;
}
.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: var(--main-text-color-);
  stroke-width:5.5;
  stroke-linecap:round;
}
.ham7 .top {
  stroke-dasharray: 40 82;
}
.ham7 .middle {
  stroke-dasharray: 40 111;
}
.ham7 .bottom {
  stroke-dasharray: 40 161;
}
.ham7.active .top {
  stroke-dasharray: 17 82;
  stroke-dashoffset: -62px;
}
.ham7.active .middle {
  stroke-dashoffset: 23px;
}
.ham7.active .bottom {
  stroke-dashoffset: -83px;
}
/* MAIN-CONTENT */
.main-content{
  flex-grow: 1;
  padding-top: 50px;
  padding-bottom: 97px;
}
/* SECTION-TITLE */
.section__title{
  margin-bottom: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.section__img{
  margin-right: 10px;
}
/* MOTO-INFO */
.moto__info-blog1,
.moto__info-blog2{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 90px;
}
.moto__info-blog1{
  align-items: flex-start;
}
.moto__info-blog2{
  align-items: flex-end;
}
.moto__title{
  width: 75%;
  margin-bottom: 50px;
}
.moto__info-divider{
  display: none;
}
.moto__img{
  margin-right: 60px;

}
.moto__img2{
  margin-left: 60px;

}
/* SITE-DIVIDER */
.site__divider{
  position: relative;
  margin-bottom: 85px;
}
.site-divider hr{
  height: 2px;
  background-color: var(--main-divider-color-);
}
.divider__circle:nth-child(1){
  position: absolute;
  left: 0;
  top: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--main-divider-color-);
}
.divider__circle:nth-child(2){
  position: absolute;
  right: 0;
  top: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--main-divider-color-);
}
.moto__info-blog-text{
  width: 40%;
  margin-right: auto;
}
.moto-info__text:nth-child(1){
  margin-bottom: 40px;
}
.moto-info__text:nth-child(3){
  margin-bottom: 144px;
}
.moto__text-img{
  mix-blend-mode: multiply;
  
}
.moto-info__photo{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: auto;
}
.moto-info__title{
  font-size: 36px;
  line-height: 54px;
}
.moto-info__divider{
  margin: 40px 0;
}
.moto__info-blog1-text{
  width: 45%;
}
/* TRANSPARENT DIVIDER */
.moto-site__divider{
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
}
.moto-site__divider hr{
  height: 2px;
  width: 92%;
  background-color: var(--main-divider-color-);
}
.divider-circle--transparent:nth-child(1),
.divider-circle--transparent:nth-child(2){
  position: absolute;
  top: 12px;
  width: 11px;
  height: 11px;
  border: 2.75px solid var(--main-divider-color-);
  border-radius: 50%;
  background-color: #24282A;
}
.divider-circle--transparent:nth-child(1){
  left: 11px;
}
.divider-circle--transparent:nth-child(2){
  right: 11px;
}
.divider-circle--transparent:nth-child(3){
  position: absolute;
  top: 9px;
  left: 47%;
  width: 17px;
  height: 17px;
  border: 2px solid var(--main-divider-color-);
  border-radius: 50%;
  background-color: #24282A;
}
.moto-info__divider-title{
  margin: 10px auto;
  width: 82%;
  text-align: center;
  font-size: 26px;
  line-height: 35px;
}
.moto-info__img{

}
/* STAGE 4*/
.stage-4__title{
  margin-bottom: 50px;
}
.moto__info-blog2-text{
  width: 35%;
  margin-right: auto;
}
.moto__info-blog-text-img{
  opacity: 0.5;
}
.moto-info__blog2-text{
  margin: 0;
  margin-top: 25px;
}
.moto__info-blog2-right{
  width: 63%;
}
.moto__info-blog2-title{
  padding: 25px 0;
  margin-bottom: 40px;
  font-size: 24px;
  line-height: 35px;
  border-top: 1px solid #929EA1;
  border-bottom: 1px solid #929EA1;
}
/* SECTION DESIGN */
/* section-top */
.section-top{
  margin-bottom: 45px;
}
.section-top__text:nth-child(2){
  width: 50%;
  margin-top: 50px;
}
.section-top__text:nth-child(3){
  width: 50%;
  margin-top: 40px;
  margin-left: auto;
  padding: 25px 0;
  border-top: 1px solid #929EA1;
  border-bottom: 1px solid #929EA1;
  font-size: 24px;
  line-height: 35px;
}
/* SECTION INNER */
/* SECTION BLOG */  
.blog{
  margin-bottom: 100px;
}
/* Section Inner */
/* BLOG1 */
.section-inner__blog1-top{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.section-inner__blog1-left{
  margin-right: auto;
  width: 40%;
}
.section-inner__blog1-right{
  width: 60%;
}
.section-inner__blog1-right-img{
  margin-bottom: 95px;
}
/* BLOG 2 */
.section-inner__blog2{
  display: flex;
  flex-wrap: wrap;
}
.section-inner__blog2-right-img,
.section-inner__blog2-left-img,
.section-inner__blog2-middle{
  width: 33.3%;
}
.section-inner__blog2-middle{
  padding: 25px;
  padding-bottom: 32px;
  text-align: center;
  box-shadow: var(--box-shadow-);  
  background-color: var(--main-text-color-);
}
.section-inner__blog2-middle-title{
  margin-top: 25px;
  margin-bottom: 12px;
  font-family: 'Lato';
  font-weight: 700;
  line-height: 22px;
  font-size: 18px;
  color: var(--main-second-text-color-);
}
.section-inner__blog2-middle-text{
  font-size: 16px;
  line-height: 20px;
  color: var(--main-second-text-color-);
}
/* BLOG 3 */
.section-inner__blog3-content{
  display: flex;
  flex-wrap: wrap;
}
.section-inner__blog3-content:not(:last-child){
  margin-bottom: 50px;
}
.section-inner__blog3-content-left{
  width: 42.3%;
  margin-right: auto;
}
.section-inner__blog3-content-left-title{
  font-size: 36px;
  margin-bottom: 30px;
}
/* BLOG 4 */
.section-inner__blog4-title{
  margin-bottom: 50px;
}
.section-inner__blog4-top{
  display: flex;
  flex-wrap: wrap;
}
.section-inner__blog4-top-left{
  width: 41%;
  margin-right: auto;
}
.section-inner__blog4-top-left-text{
  font-size: 24px;
  line-height: 35px;
}
.section-inner__blog4-top-left-divider{
  margin: 92px 0;
}
.section-inner__blog4-top-right{
  width: 55%;
}
/* FOOTER */
.footer{
  display: inline-block;
  margin-top: 97px;
}
.footer__text{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.team,
.contact{
  width: 50%;
}
.footer__title{
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
}
.footer__text{
  font-size: 18px;
  line-height: 28px; 
}
.contact__link{
  text-decoration: none;
  list-style-type: none;
  color: var(--main-text-color-);
}
.contact__info,
.team__info{
  display: flex;
  flex-direction: column;
  margin-bottom: 87px;
}
.contact__social-set{
  display: flex;
  align-items:center;
  flex-wrap: wrap;
}
.contact__social-set-icon{
  transition: transform 0.3s ease;
}
.contact__social-set-link:not(:last-child){
  margin-right: 71px;
}
.contact__social-set-link:hover img{
  transform: scale(1.1);
}
.footer_logo-helper{
  width: 100%;
  background-color: #ffffff;
}
.footer__logo-link:focus{
  box-shadow: none; 
}
.footer__logo{
  max-width: 395px;
  padding: 17px 15px;
  margin: 0 auto;
}
/* MEDIA-QUERY */
@media (max-width: 1000px){
  .header-blog {
    display: block;
    text-align: center;
    position: relative;
  }
  .header-blog__inner {
    position: initial;
    width: 100%;
    z-index: 1;
  }
  .header-blog__img {
    margin: 20px auto;
    width: 77%;
    box-shadow: var( --box-shadow-);
  }
  .moto__title{
    width: 100%;
  }
  .moto__img,
  .moto__img2{
    width: 50%;
  }
  .moto__img{
    margin-right: 10px;
  }
  .moto__img2{
    margin-left: 10px;
  }
}
@media (max-width: 970px){
  .moto__info-blog-text{
    width: 49%;
  }
  
  .moto-info__text:nth-child(1) {
    margin-bottom: 20px;
  }
  .moto-info__text:nth-child(3){
    margin-bottom: 30px;
  }
  .moto-info--photo{
    width: 50%;
  }
}
@media (max-width: 790px){
  .header-blog__title {
    font-size: 70px;
    line-height: 85px;
  }
  .navbar__list{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #24282A;
    width: 100%;
    height: 100%;
    z-index: 15;
    margin-bottom: 0;
    border-radius: 0;
    transform: translateY(-100%);
  }
  .navbar-open{
    animation: site-in 0.3s ease 1 forwards ;
  }
  .navbar-close{
    animation: site-out 0.3s ease 1 forwards ;
  }
  .navbar__item{
    margin: 20px 0!important;
  }
  .navbar__link{
    font-size: 35px;
  }
  .menu-toggler{
    display: block;
  }
  .moto__info-blog-text{
    text-align: center;
  }
  .moto-info__text{
    text-align: left;
  }
  .moto__text-img{
    width: 70%;
  }
}
@media (max-width: 737px){
  .header-blog{
    text-align: left;
  }
  .header-blog__text{
    margin-bottom: 20px;
  }
  .header-blog__button{
    position: absolute;
      position: absolute;
      top: -114px;
      right: 80px;
  }
  .header-blog__img {
    max-width: 120%;
    width: 104%;
    margin-left: -2%;;
  }
  .moto__info-blog2-text{
    text-align: center;
  }
  .moto__info-blog-text-img{
    width: 50%;
  }
  .moto-info__blog2-text{
    text-align: left;
  }
  .footer__text{
    flex-direction: column;
  }
  .team, .contact{
    width: 100%;
  }
  .team__info, .contact__info{
    margin-bottom: 20px;
  }
  .contact{
    margin-bottom: 20px;
  }
}
@media (max-width: 677px){
  .moto-info__title {
    font-size: 24px;
    line-height: 27px;
  }
  .moto__title{
    font-size: 35px;
    line-height: 40px;
  }
  .moto__text-img{
    display: none;
  }
}
@media (max-width: 600px){
  .container{
    padding: 0 5px;
  }
  .menu-toggler{
    right: 0;
  }
  .header-blog__title{
    font-size: 45px;
    line-height: 27px;
    margin-bottom: 7px;
  }
  .header-blog__text{
    font-size: 23px;
    line-height: 17px;
  }
  .section-top__text:nth-child(2){
    width: 100%;
    margin-top: 20px;
  }
  .section-top__text:nth-child(3){
    width: 100%;
    margin-top: 20px;
    margin-left: 0;
    padding: 15px 0;

  }
}
@media (max-width: 550px){
  .site-header{
    padding-bottom: 40px;
  }
  .moto__info-blog1{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .moto__img,
  .moto__img2{
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }
  .moto__img2{
    order: -1;
  }
  .moto__info-blog-text{
    width: 100%;
  }
  .moto__info-blog-text{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .moto__info-text,
  .moto-info__text{
    text-align: left;
    font-size: 14px;
    line-height: 20px;
  }
  .moto-info__text{
    width: 50%;
  }
  .moto-info__text:nth-child(3){
    margin-left: 50%;
  }
  .site__divider{
    margin-bottom: 20px;
  }
  .divider__circle{
    display: none;
  }
  
  .moto__text-img{
    display: block;
    order: -1;
    width: 40%;
    margin-left: 5%;
    margin-bottom: 10%;
    margin-top: -40%;
  }
  .moto__info-divider{
    display: block;
  }
  .moto-info--photo{
    order: -1;
    margin-left: 50%;
  }
  .moto__info-blog1-text {
    width: 100%;
    order: -1;
    font-size: 18px;
    line-height: 25px;
  }
  .moto-info__text1{
    margin-right: 0 !important;
    margin-left: 0 !important;
    width: 100% !important;
  }

  .moto-info__photo{
    width: 100%;
    padding: 0 35px;
  }
  .moto__info-blog2{
    flex-direction: column;
  }
  .moto__info-blog2-text{
    width: 100%;
  }
  .moto__info-blog2-right{
    width: 100%;
    order: -1;
  }
  .moto___photo{
    width: 70%;
    margin-left: 30%;
    margin-bottom: -3%;
  }
  .moto__info-blog-text-img{
    margin-top: -38%;
    width: 20%;
    margin-left: -70%;
  }
  .moto-info__blog2-text{
    margin-left: 30%;
  }
}
@media (max-width: 460px){
  .header-top{
    margin-bottom: 45px;
  }
  .header-blog__title{
    font-size: 24px;
    line-height: 27px;
    margin-bottom: 3px;
  }
  .header-blog__text{
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 10px;
  }
  .header-blog__button{
    top: -83px;
    right: 74px;
    width: 120px;
    height: 38px;
  }
  .moto-info__text{
    width: 70%;
  }
  .moto-info__text:nth-child(3){
    margin-left: 30%;
  }
  .moto-info__divider-title{
    font-size: 14px;
    line-height: 18px;
  }
  .footer__title{
    font-size: 17px;
    margin-bottom: 10px;
  }
  .footer__text{
    font-size: 15px;
  }
}
  /* KEYFRAMES */
@keyframes site-in {
  from{
    transform: translateY(-100%);
  }
  to{
    transform: translateY(0);
  }
}
@keyframes site-out {
  from{
    transform: translateY(0);
  }
  to{
    transform: translateY(-100%);
  }
}
@keyframes rounding{
  0%{
    transform: rotate(0);
  }
  50%{
    transform: rotate(180deg);
  }
  100%{
    transform: rotate(360deg);
  }
}